/* CSS reset */
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 /* generics */
body {
    background-color: rgb(222, 219, 219);
    font-family: arial;
}

/* header */
 #logo {
    width: 40px;
    vertical-align: middle;
 }

 h1 {
    display: inline;
    vertical-align: middle;
    font-weight: bolder;
 }

 #logo-title {
    background-color: white;
    padding: 10px 15px;
   }

   /* central section */
#button-section {
    width: 700px;
    margin: 20px auto 0 auto;
    padding: 7px 20px;
    border-radius: 5px 5px 0 0;
    background-color: white;
}

.button {
    padding: 5px;
    border-radius: 5px;
}

#blue-button {
    background-color: rgb(0, 140, 255);
    color: white;
    border-color: rgb(0, 140, 255);
}

#white-button {
    background-color: white;
    color: gray;
}

/* main section */
#main {
    width: 700px;
    margin: 2px auto;
    padding: 7px 20px;
    border-radius: 0 0 5px 5px;
    background-color: white;
}

h3 {
    padding-top: 30px;
    padding-bottom: 15px;
}

.checkmark {
    color: rgb(136, 195, 134);
    height: 50%;
    width: 50%;
    border-radius: 50%;
    border-color: rgb(136, 195, 134);
    border-style: solid;
    padding: 1px;
    font-size: 10px;
}

.cross {
    color: rgb(255, 0, 0);
    height: 50%;
    width: 50%;
    border-radius: 50%;
    border-color: rgb(255, 0, 0);
    border-style: solid;
    padding: 1px;
    font-size: 10px;
}

.editorial {
    color: rgb(255, 255, 255);
    background-color: rgb(70, 171, 234);
    border-radius: 35%;
    font-weight: bold;
    font-size: 8px;
    padding: 4px;
}

.q1goals {
    color: rgb(255, 255, 255);
    background-color: rgb(156, 114, 228);
    border-radius: 35%;
    font-weight: bold;
    font-size: 8px;
    padding: 4px;
}

.recruiting {
    color: rgb(255, 255, 255);
    background-color: rgb(100, 192, 169);
    border-radius: 35%;
    font-weight: bold;
    font-size: 8px;
    padding: 4px;
}

.mobile {
    color: rgb(255, 255, 255);
    background-color: rgb(242, 158, 51);
    border-radius: 35%;
    font-weight: bold;
    font-size: 8px;
    padding: 4px;
}

.website {
    color: rgb(255, 255, 255);
    background-color: rgb(216, 99, 161);
    border-radius: 35%;
    font-weight: bold;
    font-size: 8px;
    padding: 4px;
}

.sales {
    color: rgb(255, 255, 255);
    background-color: rgb(177, 201, 37);
    border-radius: 35%;
    font-weight: bold;
    font-size: 8px;
    padding: 4px;
}

.editorial-2 {
    color: rgb(255, 255, 255);
    background-color: rgb(242, 158, 51);
    border-radius: 35%;
    font-weight: bold;
    font-size: 8px;
    padding: 4px;
}